.designer-box-details:hover .designer-details-bottom h3{
    text-decoration: underline;
}
.designer-box-details:hover .designer-details-bottom p{
    text-decoration: underline;
}
.save-link.designer-link{
    display: none!important;
    top: 10px !important;
    right: 10px !important;
    bottom: auto !important;
}
.designer-box-details:hover .save-link.designer-link{
    display: block!important;
}
.designer-side-dropdown {
    cursor: pointer;
}

.designer-accordion-content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    padding-left: .25rem;
}

.designer-accordion-content.open {
    max-height: 530px; /* Set this to a value that can accommodate the content */
    opacity: 1;
}

.accordion-icon {
    position: absolute;
    right: 0;
    top: 8px;
}