#sidebar {
    background: #fff;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    max-width: 300px;
}
.accordion-item {
    border: none;
}
.accordion-body {
    padding-left: 28px;
}

span.appointments,.orders,.portfolio,.fabrics {
    font-weight: 400;
    font-family: 'Poppins';
    font-size: 15px;
}
.yellow-hover:hover {
    color: #CEA835;
    font-weight: 600;
}

.sidebar-menu .accordion-header {
    font-family: 'Poppins' !important;
}
.text-decoration {
    text-decoration: none;
}
.padding-sidebar {
    padding: 35px 0px 8px 15px;
}