.green-leaf-tooltip {
    position: relative;
    display: inline-block;
}

.green-leaf-tooltip .green-leaf-tooltiptext {
    visibility: hidden;
    width: 175px;
    background-color: #000000f0;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 32px;
    left: 10%;
    margin-left: -126px;
}

.green-leaf-tooltip .green-leaf-tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 74%;
    margin-left: -5px;
    border-width: 8px;
    border-style: solid;
    border-color: #000000f0 transparent transparent transparent;
}

.green-leaf-tooltip:hover .green-leaf-tooltiptext {
    visibility: visible;
}