.green-leaf-tooltip {
    position: relative;
    display: inline-block;
}

.green-leaf-tooltip .green-leaf-tooltiptext {
    visibility: hidden;
    width: 175px;
    background-color: #000000f0;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 32px;
    left: 10%;
    margin-left: -126px;
}

.green-leaf-tooltip .green-leaf-tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 74%;
    margin-left: -5px;
    border-width: 8px;
    border-style: solid;
    border-color: #000000f0 transparent transparent transparent;
}

.green-leaf-tooltip:hover .green-leaf-tooltiptext {
    visibility: visible;
}
.fabric-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.height-no-records {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .designs-grid:hover .fabric-name{
    text-decoration: underline;
} */
.max-150{
    max-width: 150px;
}
.save-link{
    display: none !important;
    top: 10px !important;
    right: 10px !important;
    bottom: auto !important;
}
.designs-grid:hover .save-link{
    display: block !important;
}

.filter-sidebar {
    border-right: 2px solid #ECECEC;
    height: 100%;
}

.ddf-header .filter-sidebar {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #ECECEC;
    min-height: 66px;
}

.ddf-header .category-slider {
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 2px solid #ECECEC;
    min-height: 66px;
}

.category-pills .slick-arrow {
    padding: 5px;
    background-color: #EFEFEF !important;
    border-radius: 50%;
}
.fabrics-hover-button{
    height: 33px;
}
.fabric-side-dropdown {
    cursor: pointer;
}

.fabric-accordion-content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    padding-left: .25rem;
}

.fabric-accordion-content.open {
    max-height: 500px; /* Set this to a value that can accommodate the content */
    opacity: 1;
}

.accordion-icon {
    position: absolute;
    right: 0;
    top: 8px;
}