.green-leaf-tooltip {
    position: relative;
    display: inline-block;
}

.green-leaf-tooltip .green-leaf-tooltiptext {
    visibility: hidden;
    width: 175px;
    background-color: #000000f0;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 32px;
    left: 10%;
    margin-left: -126px;
}

.green-leaf-tooltip .green-leaf-tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 74%;
    margin-left: -5px;
    border-width: 8px;
    border-style: solid;
    border-color: #000000f0 transparent transparent transparent;
}

.green-leaf-tooltip:hover .green-leaf-tooltiptext {
    visibility: visible;
}
.fabric-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.height-no-records {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.designs-grid:hover .fabric-name{
    text-decoration: underline;
}
.max-150{
    max-width: 150px;
}
.save-link{
    opacity: 0 !important;
    top: 10px !important;
    right: 10px !important;
    bottom: auto !important;
}
.designs-grid:hover .save-link{
    opacity: 1 !important;
}
.filter-sidebar {
    border-right: 2px solid #ECECEC;
    height: 100%;
}

.ddf-header .filter-sidebar, .ddf-header .category-slider {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #ECECEC;
    min-height: 66px;
}

.category-pills .slick-arrow {
    padding: 5px;
    background-color: #EFEFEF !important;
    border-radius: 50%;
}