.total-price {
    color: #CEA835;
}
.name-user {
    color: #656565;
}
img.placeholder-cart {
    width: 15%;
}
.check-box {
    width: 18px;
    height: 20px;
    margin-left: 20px !important;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 3px;
   
}
.check-box-color {
    accent-color: #CEA835;
}
.user-image-chat .user-photo-chat {
    min-width: 20px;
    min-height: 20px;
    max-width: 45px;
    max-height: 45px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.designs-grid-div {
    min-height: 300px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    width: 46px;
    min-height: 48px;
}
.top-bottom {
    padding-top: 50px;
    padding-bottom: 50px;
}
.btn-cart-cancel {
    font-size: 15px;
    padding: 10px 20px;
    min-width: 190px;
    border-radius: 5px;
    border-width: 2px;
    color: var(--black);
    background-color: var(--white);
    border-color: var(--black);
}
.btn-cart-cancel:hover {
    color: var(--white);
    background-color: var(--black);
    border-color: var(--black);
}
.delete-tooltip {
    position: relative;
    display: inline-block;
}

.delete-tooltip .icon-tooltiptext {
    visibility: hidden;
    width: 90px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 6px 0;
    position: absolute;
    z-index: 1;
    bottom: 29px;
    left: 10%;
    margin-left: -16px;
}

.delete-tooltip .icon-tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 7px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.5) transparent transparent transparent;
}

.delete-tooltip:hover .icon-tooltiptext {
    visibility: visible;
}