#single-portfolio .design-tag {
    max-width: 100%;
}
.cancel-btn {
    font-size: 15px;
    padding: 10px 20px;
    min-width: 120px;
    border-radius: 5px;
    border-width: 2px;
    color: #000000 !important;
    background-color: #ffffff !important;
    border-color: var(--black);
}
.btn-save {
    font-size: 15px;
    padding: 10px 20px;
    min-width: 120px;
    border-radius: 5px;
    border-width: 2px;
    color: var(--white);
    background-color: var(--black);
    border-color: var(--black);
}
.cancel-btn:hover {
    border-color: #000000;
    background-color: #ffffff;
    color: #000000;
}
.col-right {
    padding-right: 60px;
    padding-left: 0px;
}
.react-review-items-close {
    position: absolute;
    top: 14px;
    right: 20px;
    background: transparent;
    border: 0;
    padding: 0;
    line-height: 1;
    z-index: 9;
}
.reviews-tooltip {
    position: relative;
    display: inline-block;
}
.portfolio-grid-image {
    width: 300px;
}
.reviews-tooltip .reviews-tooltiptext {
    visibility: hidden;
    width: 125px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 28px;
    left: 22%;
    margin-left: -51px;
}

.reviews-tooltip .reviews-tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.5) transparent transparent transparent;
}

.name-of-user-chat {
    color: #39393A;
}
img.placeholder-chat {
    width: 8%;
    height: 1%;
}
.reviews-tooltip:hover .reviews-tooltiptext {
    visibility: visible;
}
.time-chat {
    color: #AAAAAA;
}
.follow,.you {
    color: #434343;
}
.ellipsis-portfolio-seller {
    white-space: nowrap; 
    width: 150% !important; 
    overflow: hidden;
    text-overflow: ellipsis; 
  }
.loading-height {
    height: 240px !important;
}
.portfolio-designer-chat .designer-photo {
    min-width: 30px;
    min-height: 30px;
    max-width: 30px;
    max-height: 30px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.footer-top-border {
    border-top: none;
}
.padding-card-review {
    padding: 20px 25px 10px 25px;
}
.this-is-preview {
    font-size: 14px;
    background: #dfdfdf;
    color: var(--white);
    padding: 5px 30px 5px 30px;
    display: inline-block;
    text-align: center;
    width: 100%;
}
.portfolio-toggle {
    background: transparent;
    height: 183px;
    bottom: 0;
}
.request-quote-btn {
    padding: 10px 20px;
    min-width: 190px;
    border-radius: 5px;
    border-width: 2px;
    color: var(--white);
    background-color: var(--black);
    border-color: var(--black);
}
.bg-portfolio {
    background-color: #FAFAFA;
}
.request-quote-btn:hover {
    color: var(--white);
    background-color: var(--black);
    border-color: var(--black);
}
.ellipsis-portfolio {
    white-space: nowrap;  
    overflow: hidden;
    text-overflow: ellipsis; 
  }

  .portfolio-actions .action-menu {
    position: absolute;
    right: 10px;
}
.react-emoji {
    display: block !important;
}
.react-input-emoji--container {
    margin: 5px 0px !important;
    
}
.react-input-emoji--container {
    border-radius: 5px !important;
}
.react-input-emoji--button svg {
    fill: #212529 !important;
    width: 19px;
}
.attach-icon {
    bottom: 18px;
    left: 54px;
}
.send-button {
    bottom: 18px;
    right: 19px;
}

.image-drop-container-quote {
    background-image: url(data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%233332' stroke-width='3' stroke-dasharray='12' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e);
    border: none;
    padding: 25px;
}

@media screen and (max-width: 768px) {
    .parent {
        margin-bottom: 23px;
    }
    section#single-portfolio {
        padding-top: 30px !important;
        padding-bottom: 10px !important;
    }
}
@media screen and (max-width: 500px) {
    .request-a-quote {
        width: 100% !important;
    }
    .consultation-btn {
        width: 100% !important;
        margin-left: 0px !important;
    }
    .no-available {
        font-size: 16px !important;
    }
}

@media screen and (max-width: 425px) {
    .request-a-quote {
        width: 100% !important;
    }
    .consultation-btn {
        width: 100% !important;
        margin-left: 0px !important;
    }
    .no-available {
        font-size: 16px !important;
    }
}
