.sample-categories {
    font-size: 20px;
}
span.all-sort {
    font-size: 20px;
    font-family: 'Rufina';
    margin-left: 2px;
}
select#sort-by {
    border: none;
    color: #444444;
}

.sort-by-border {
    border: 1px solid;
    padding: 6px 10px 6px 10px;
    border-radius: 5px;
    border-color: #DFDFDF;
}
.design-tags {
    padding: 5px 15px;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 5px;
    display: inline-block;
    min-width: 70px;
    max-width: 100%;
    text-align: center;
    text-wrap: nowrap;
}
.bg-transparent {
    background-color: transparent!important;
}
.modal-full-width .modal-dialog {
    max-width: 1200px !important;
}
.modal-full-width {
    background: #000000ab !important;
}
.modal-full-width .modal-dialog {
    max-width: 1200px !important;
}
.modal-full-width {
    background: #000000ab !important;
}
.action-button-designs {
    background: var(--white);
    color: var(--black);
    padding: 3px 5px 5px 5px;
    height: 52px;
    display: inline-block;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}
.icon-name-color {
    color: #878787 !important;
}
.user-image .user-photo {
    min-width: 60px;
    min-height: 60px;
    max-width: 45px;
    max-height: 45px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.sign-up-share {
    bottom: 16px;
}
.design-tags-view-bar {
    padding: 1px 8px;
    border-radius: 5px;
    margin-right: 5px;
    display: inline-block;
    min-width: 70px;
    max-width: 100%;
    text-align: center;
    text-wrap: nowrap;
}
.user-image-side .user-photo-side {
    min-width: 54px;
    min-height: 54px;
    max-width: 45px;
    max-height: 45px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}
.card-profile-designer {
    width: 100%;
    right: 475px;
    top: 100px;
    max-width: 350px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
}
.thumbnail-table:hover .table_content {
    visibility: visible !important;
}
.fashion-designer {
    color: #d3b668;
}
.thumbnail-table .table_content {
    visibility: hidden;
    width: 350px;
    padding: 0;
    right: 79px;
    top: 0px;
    position: absolute;
    z-index: 1;
}
.user-image-side .user-photo-card {
    min-width: 90px;
    min-height: 90px;
    max-width: 45px;
    max-height: 45px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}
.card-hr {
    border-bottom: none;
}
.user-image-modal .user-photo-modal {
    min-width: 60px;
    min-height: 60px;
    max-width: 45px;
    max-height: 45px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.btn-message-designer {
    font-size: 15px;
    padding: 5px 46px;
    min-width: 221px;
    border-radius: 5px;
    border-width: 2px;
    color: var(--black);
    background-color: var(--white);
    border-color: var(--black);
}

#under-construction .modal-content {
    right: 50px !important;
}

.btn-message-designer:hover {
    color: var(--black);
    background-color: var(--white);
    border-color: var(--black);
}
.share-modal-view,.embed-modal-view {
    background: #000000cc !important;
}
.text-area-embed {
    padding: 10px;
    width: 100%;
    height: 170px;
    border-radius: 5px;
    border-color: #ccc;
    font-size: 12px;
}
.btn-copy-embed {
    font-size: 12px;
    padding: 5px 0px;
    min-width: 100px;
    border-radius: 50px;
    border-width: 2px;
    color: var(--white);
    background-color: var(--black);
    border-color: var(--black);
}

.btn-copy-embed:hover {
    color: var(--white);
    background-color: var(--black);
    border-color: var(--black);
}
.card-share-popup {
    width: 100%;
    right: -104px;
    top: 100px;
    max-width: 500px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 7px !important;
    top: -97px !important;
}
.btn-book {
    font-size: 15px;
    padding: 5px 40px;
    min-width: 190px;
    border-radius: 5px;
    border-width: 2px;
    color: var(--white);
    background-color: var(--black);
    border-color: var(--black);
}
.text-height {
    height: 240px;
}
.design-tags-share {
    padding: 2px 10px;
    border-radius: 5px;
    margin-right: 5px;
    display: inline-block;
    min-width: 50px;
    max-width: 100%;
    text-align: center;
    text-wrap: nowrap;
}
.btn-book:hover {
    color: var(--white);
    background-color: var(--black);
    border-color: var(--black);
}
.user-image-message .user-photo-message{
    min-width: 80px;
    min-height: 80px;
    max-width: 45px;
    max-height: 45px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}
.btn-cancel-message {
    font-size: 15px;
    padding: 10px 20px;
    min-width: 190px;
    border-radius: 5px;
    border-width: 2px;
    color: var(--black);
    background-color: var(--white);
    border-color: var(--black);
}
.btn-cancel-message:hover {
    color: var(--black);
    background-color: var(--white);
    border-color: var(--black);
}
.modal-close {
    border: none;
    color: #ffffff;
    background: none;
}

.single-image-slider-fabrics {
    width: 100%;
    min-height: 620px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.image-share-popup {
    position: absolute;
    bottom: 38px;
    left: 16px;
}
.book-consultation-bar {
    position: absolute;
    bottom: 0;
    right: 0;
}
.placeholder-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.user-image-share .user-photo-share {
    min-width: 40px;
    min-height: 40px;
    max-width: 45px;
    max-height: 45px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.placeholder-img-side {
    width: 52px;
    height: 50px;
    border-radius: 50%;
}
.image-fabrics {
    position: relative;
}
.request {
    padding: 10px 20px 10px 20px;
    width: 670px;
    background: #202a44e8 !important;
    border: none;
    border-radius: 7px;
}
.btn-book-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.btn-book-consultation {
    font-size: 15px;
    padding: 5px 13px;
    min-width: 190px;
    border-radius: 5px;
    border-width: 2px;
    color: var(--black);
    background-color: var(--white);
}
.btn-book-consultation:hover {
    color: var(--black);
    background-color: var(--white);
}
.btn-copy-link {
    padding: 5px 0px;
    border-radius: 50px;
    width: 360px;
    border-color: #eaeaea !important;
    font-size: 14px;
}
.placeholder-img-share {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 6px;
}
.btn-copy-link:hover {
    padding: 5px 0px;
    border-radius: 50px;
    width: 360px;
    border-color: #eaeaea !important;
    background: #f1f1f1 !important;
    font-size: 14px;
}
#bg-transparent-card .modal-content {
    background-color: transparent!important;
    border: none;
}
.card-description {
    background: #000000e3;
    border: none;
    width: 900px;
    border-radius: 5px;
}
.padding-share-card {
    padding-right: 50px;
    padding-left: 50px;
}
.single-image-slider-share {
    width: 100%;
    min-height: 284px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
   
}
.card-profile {
    background: #ffffff;
    border: none;
    border-radius: 5px;
}

#modal-preview-embed .modal-content {
    max-width: 480px;
    left: 9px;
    bottom: 50px;
}
.embed-height {
    height: 390px;
}
.cancel-btn-embed {
    background: none;
    border: none;
    color: #696969;
    font-size: 13px;
}
#description-card .modal-content {
    right: 205px;
    position: absolute;
    top: 190px;
    background: transparent;
    border: none;
}
.description-close {
    left: 865px;
    font-size: 24px;
    color: #fff;
    top: 8px;
}
.close-button-image {
    background: var(--white);
    color: var(--white);
    padding: 0px 5px 5px 5px;
    height: 30px;
    display: inline-block;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    font-size: 24px;
}
.view-bar-share {
    padding: 10px 20px 10px 20px;
    width: 830px;
    background: #202a44e8 !important;
    border: none;
    border-radius: 7px;
}
.specialization {
color:#F6D46D;
}
#profile-card .modal-content {
    width: 100% !important;
    max-width: 400px !important;
    left: 48px;
}

