img.user-placeholder-order {
    width: 6%;
}
.user-placeholder {
    width: 20% !important;
}
.order-user {
    color: #656565;
}
.order-id {
    color: #656565;
}
#rate-review {
    padding-top: 50px;
    padding-bottom: 50px;
}
.delivered-date {
    color: #8F8F8F;
}
.top-border-color {
    border-top-color: #eeeeee;
}
img.placeholder-chat {
    width: 8%;
    height: 1%;
}
.p-right {
    padding-right: 0px;
}
.rate-review-btn {
    font-size: 15px;
    padding: 10px 20px;
    min-width: 190px;
    border-radius: 5px;
    border-width: 2px;
    color: var(--black);
    background-color: var(--white);
    border-color: var(--black);
}

.rate-review-btn:hover {
    color: var(--black);
    background-color: var(--white);
    border-color: var(--black);
}
img.square-placeholder {
    width: 3%;
}
.rate-review-card {
    border-color: #DFDFDF;
}
.border-bottom {
    border-bottom-color: #DFDFDF;
}
.all-order-id {
    color: #656565;
    display: flex;
    align-items: center;
}
.user-image-rate .user-photo-rate {
    min-width: 30px;
    min-height: 30px;
    max-width: 45px;
    max-height: 45px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.single-image-review-item {
    height: 45px;
    width: 4%;
    min-height: 36px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.react-emoji {
    display: block !important;
}
.react-input-emoji--container {
    margin: 5px 0px !important;
    
}
.react-input-emoji--container {
    border-radius: 5px !important;
}
.react-input-emoji--button svg {
    fill: #212529 !important;
    width: 19px;
}
.attach-icon {
    bottom: 18px;
    left: 54px;
}
.send-button {
    bottom: 18px;
    right: 19px;
}
.text-none-decoration {
    text-decoration: none;
}