img.user-placeholder-order {
    width: 8%;
}
.user-placeholder {
    height: 77%;
    width: 29% !important;
}
.order-user {
    color: #656565;
}
.order-id {
    color: #656565;
}
.check-details {
    text-decoration: none;
}
img.placeholder-chat {
    width: 8%;
    height: 1%;
}
.p-right {
    padding-right: 0px;
}
.order-chat {
    border-bottom-color: #eeeeee;
}
.order-id {
    margin-right: 30px;
    display: flex;
    align-items: center;
}
.write-review-decoration,.check-datails-decoration {
    text-decoration: none;
}
.square-placeholder {
    width: 30%;
}
img.item-placeholder-chatbox {
    width: 10%;
}
.col-right-order {
    padding-right: 60px;
    padding-left: 0px;
}
.top-padding {
    padding-top: 50px;
}