img.user-placeholder-order {
    width: 8%;
}
.user-placeholder {
    height: 77%;
    width: 29% !important;
}
.order-user {
    color: #656565;
}
.order-id {
    color: #656565;
}
.check-details {
    text-decoration: none;
}
img.placeholder-chat {
    width: 8%;
    height: 1%;
}
.p-right {
    padding-right: 0px;
}
.order-chat {
    border-bottom-color: #DFDFDF;
    background: #F5F5F5;
}
.order-id {
    margin-right: 30px;
    display: flex;
    align-items: center;
}
.write-review-decoration,.check-datails-decoration {
    text-decoration: none;
}
.square-placeholder {
    width: 30%;
}
img.item-placeholder-chatbox {
    width: 10%;
}
.col-right-order {
    padding-right: 60px;
    padding-left: 0px;
}
.top-padding {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-left: 0px;
}
.fabric-image {
    width: 19%;
}
.tabs-image {
    width: 30%;
}
.card-body-border {
    border-radius: 10px;
}
.order-border {
    border-color: #DFDFDF;
}
.header-chat {
    padding: 15px 21px 15px 21px;
     border-bottom-color: #DFDFDF;
}
.all-order-id {
    color: #656565;
    display: flex;
    align-items: center;
}
.name-of-designer {
    color: #656565;
}
.user-image-order .user-photo-order {
    min-width: 20px;
    min-height: 20px;
    max-width: 45px;
    max-height: 45px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.container-order {
    padding-top: 50px;
    padding-bottom: 50px;
}
.border-card {
    border-color: #DFDFDF;
}
.react-emoji {
    display: block !important;
}
.react-input-emoji--container {
    margin: 5px 0px !important;
    
}
.react-input-emoji--container {
    border-radius: 5px !important;
}
.react-input-emoji--button svg {
    fill: #212529 !important;
    width: 19px;
}
.attach-icon {
    bottom: 18px;
    left: 54px;
}
.send-button {
    bottom: 18px;
    right: 19px;
}
.search-bar {
    width: 90%;
    height: 42px;
    font-size: 16px;
    border-radius: 5px;
    border: 0 solid #7F8185;
    padding: 5px 40px 5px 14px;
    outline: none;
}