.designer-calendar-container {
    padding-top: 50px;
}

.calendar-container {
    background: #fff;
    padding: 30px;
    border-radius: 5px;
}

.designer-calendar-body {
    background: #FAFAFA;
}

.designer-calendar-body .navbar {
    background: #fff;
    z-index: 10;
}

.day-header {
    font-size: 16px;
    font-weight: 700;
    font-family: 'ProximaNova';
    margin-bottom: 19px;
}

#business-hours-modal {
    max-width: 800px !important;
}

#business-hours-modal .hours-header {
    font-family: 'ProximaNova';
    font-size: 16px;
    margin-bottom: 5px;
}

.schedule-checkbox {
    font-size: 14px;
    font-family: 'ProximaNova';
}

#business-hours-modal .header {
    font-weight: 700;
    margin-bottom: 30px;
}

.plus-btn {
    cursor: pointer;
}
.rbc-row {
    height: 90px;
}
.rbc-month-row {
    overflow: visible !important;
}
.rbc-date-cell {
    padding-left: 10px !important;
    text-align: left !important;
    padding-top: 10px !important;
}
.rbc-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px !important;
    font-family: 'ProximaNova' !important;
    color: #1C1B1B !important;
}
.rbc-toolbar {
    margin-bottom: 20px !important;
}
span.rbc-toolbar-label {
    font-size: 22px !important;
    font-family: 'ProximaNova';
    font-weight: 400;
}
button.rbc-button-link {
    font-family: 'ProximaNova';
    font-size: 14px;
}
span.rbc-btn-group {
    font-family: 'ProximaNova';
}
.form-control-hours, .rti--container {
    border: 2px solid var(--gray) !important;
    border-radius: 5px !important;
    padding: 10px 10px;
    color: var(--gray-600);
    font-size: 14px;
}
.btn-cancel {
    font-size: 15px;
    padding: 12px 20px;
    min-width: 190px;
    border-radius: 5px;
    border-width: 2px;
    color: #000;
    background-color: #fff;
    border-color: var(--black);
}
.set-appointment {
    font-size: 25px;
    font-family: 'Rufina';
    font-weight: bold;
}

.btn-save {
    font-size: 15px;
    padding: 12px 20px;
    min-width: 120px;
    border-radius: 5px;
    border-width: 2px;
    color: var(--white);
    background-color: var(--black);
    border-color: var(--black);
}
.btn-save:hover {
    color: #FFFFFF;
    border-color: #000000;
    background-color: #000000;
}
.cancel-btn {
    font-size: 15px;
    padding: 12px 20px;
    min-width: 120px;
    border-radius: 5px;
    border-width: 2px;
    color: #000000;
    background-color: #ffffff;
    border-color: var(--black);
}
.cancel-btn:hover {
    border-color: #000000;
    background-color: #ffffff;
    color: #000000;
}
.btn:first-child:active {
    border-color: #000000;
    background-color: #ffffff;
    color: #000000;
}
.padding-modal {
    padding: 25px;
}