/*Home*/
body:has(section#questionnaire) #navigation {
    display: none!important;
}
section#questionnaire {
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom: 100px;
}
section#questionnaire h1{
    font-size: 28px;
    font-weight: 600;
}
section#questionnaire .form-title {
    font-size: 25px;
    font-weight: 600;
    color: var(--black);
    line-height: 1.5;
}
section#questionnaire img{
    max-width: 150px;
    width: 100%;
}
section#questionnaire p.subtitle {
    font-size: 18px;
    margin-bottom: 20px;
}
section#questionnaire .narrow-600{
    background-color: var(--lgray);
}
section#questionnaire .narrow-750 {
    background-color: var(--lgray); 
}
section#questionnaire .narrow-850 {
    background-color: var(--lgray); 
}
section#questionnaire .btn-primary{
    min-width: 150px;
}
section#questionnaire select {
    color: #8F8F8F;
}
section#questionnaire .background-dashed, .modal-content .background-dashed {
    background-image: url(data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%233332' stroke-width='3' stroke-dasharray='12' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e);
    border: none;
}
.modal-content .upload-logo {
    width: 50px;
    height: 50px;
    color: #8F8F8F;
}
.modal-content .image-upload p{
    color: #8F8F8F;
}
.modal-content .imageUpload-button {
    background-color: #fff !important;
    border: none !important;
    color: #000 !important;
    padding: 0 !important;
}
.modal-content .save-fabrics-buttons button{
    min-width: 130px;
}
#fabric-buttons button {
    min-width: unset !important;
    background-color: #e6e7e8;
    border: none;
    color: #000;
    padding: 8px 30px;
    margin: 5px 0;
}
.step4-first-cont {
    width: 80%;
}
.step4-second-cont {
    background-image: url('../../images/signup-img.png') !important;
    width: 20%;
    min-height: 344.3px;
}
.circle-number {
    width: 30px;
    height: 30px;
    background-color:#daaf35;
    border-radius: 50%;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width:1200px){
    form.search input{
        min-width: 350px;
    }
}
@media screen and (max-width:991px){
    section#questionnaire{
        padding-top:30px;
        padding-bottom:30px;
    }
    section#questionnaire h1{
        font-size: 23px;
    }
    section#questionnaire .narrow-600{
        padding: 30px!important;
    }
}