.search-bar {
    width: 90%;
    height: 42px;
    font-size: 16px;
    border-radius: 5px;
    border: 0 solid #7F8185;
    padding: 5px 40px 5px 14px;
    outline: none;
}
.color-date {
    color: #8F8F8F;
}
img.user-placeholder {
    width: 9%;
}
.height-cb {
    height: 300px !important;
}
.border-appointment-list {
    border: none;
}
.set-appointment {
    font-size: 25px;
    font-family: 'Rufina';
    font-weight: bold;
}
.col-right {
    padding-right: 41px;
    padding-left: 0px;
}
.search-style {
    position: absolute;
    top: 12px;
    right: 9px;
}
.center-name {
    display: flex;
    align-items: center;
}
.user-image .user-photo {
    min-width: 45px;
    min-height: 45px;
    max-width: 45px;
    max-height: 45px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.top-bottom {
    padding-top: 50px;
    padding-bottom: 50px;
}
.user-image-appointment .user-photo {
    min-width: 35px;
    min-height: 35px;
    max-width: 45px;
    max-height: 45px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}
img.placeholder-img {
    width: 12%;
}
.bg-color-page {
    background-color: #FAFAFA !important;
}
.profile-image.small {
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
    margin-right: 10px;
    border-radius: 50%;
}
.react-emoji {
    display: block !important;
}
.react-input-emoji--container {
    margin: 5px 0px !important;
    
}
.react-input-emoji--container {
    border-radius: 5px !important;
}
.react-input-emoji--button svg {
    fill: #212529 !important;
    width: 19px;
}
.attach-icon {
    bottom: 18px;
    left: 54px;
}
.send-button {
    bottom: 18px;
    right: 19px;
}
.user-image-designer .user-photo-designer {
    min-width: 45px;
    min-height: 45px;
    max-width: 45px;
    max-height: 45px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}
img.placeholder-img-chat {
    width: 9%;
    height: 0%;
}