.image-fabrics-admin {
    min-height: 50px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    width: 50px;
} 

.bg-fabrics {
    background: #fafafa;
}

.admin-ellipsis-fabrics {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 200px;
    display: block;
}

.fabrics-tooltip {
    position: relative;
    display: inline-block;
}

.fabric-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.fabrics-tooltip .icon-tooltiptext {
    visibility: hidden;
    width: 155px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 6px 0;
    position: absolute;
    z-index: 1;
    bottom: 29px;
    left: 10%;
    margin-left: -73px;
}

.fabrics-tooltip .icon-tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 7px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.5) transparent transparent transparent;
}

.fabrics-tooltip:hover .icon-tooltiptext {
    visibility: visible;
}

.fabrics-tags-view-bar {
    padding: 3px 8px;
    border-radius: 5px;
    margin-right: 5px;
    display: inline-block;
    min-width: 70px;
    max-width: 100%;
    text-align: center;
    text-wrap: nowrap;
}

.user-image-chat .user-photo-chat {
    min-width: 20px;
    min-height: 20px;
    max-width: 45px;
    max-height: 45px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.green-leaf-tooltip {
    position: relative;
    display: inline-block;
}

.green-leaf-tooltip .green-leaf-tooltiptext {
    visibility: hidden;
    width: 175px;
    background-color: #00000080;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 28px;
    left: 10%;
    margin-left: -126px;
}

.green-leaf-tooltip .green-leaf-tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 74%;
    margin-left: -5px;
    border-width: 8px;
    border-style: solid;
    border-color: #00000080 transparent transparent transparent;
}

.green-leaf-tooltip:hover .green-leaf-tooltiptext {
    visibility: visible;
}