img.placeholder-appointments {
    width: 8%;
    height: 1%;
}
.video-cam:hover {
    color: #CEA835;
}
.appointments-tooltip {
    position: relative;
    display: inline-block;
}

.appointments-tooltip .icon-tooltiptext {
    visibility: hidden;
    width: 193px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 35px;
    left: 10%;
    margin-left: -90px;
}

.appointments-tooltip .icon-tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 45%;
    margin-left: -5px;
    border-width: 13px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.5) transparent transparent transparent;
}

.appointments-tooltip:hover .icon-tooltiptext {
    visibility: visible;
}
.top-bottom {
    padding-top: 50px;
    padding-bottom: 50px;
}

.appointment-user-image .user-photo-appointment {
    min-width: 45px;
    min-height: 45px;
    max-width: 45px;
    max-height: 45px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.appointment-details-container {
    padding-left: 12px;
    padding-right: 12px;
}
.bottom-padding {
    padding-bottom: 0px;
    padding-top: 14px;
}
.react-emoji {
    display: block !important;
}
.react-input-emoji--container {
    margin: 5px 0px !important;
    
}
.react-input-emoji--container {
    border-radius: 5px !important;
}
.react-input-emoji--button svg {
    fill: #212529 !important;
    width: 19px;
}
.attach-icon {
    bottom: 18px;
    left: 54px;
}
.send-button {
    bottom: 18px;
    right: 19px;
}
