img.placeholder-appointments {
    width: 8%;
    height: 1%;
}
.video-cam:hover {
    color: #CEA835;
}
.appointments-tooltip {
    position: relative;
    display: inline-block;
}

.appointments-tooltip .icon-tooltiptext {
    visibility: hidden;
    width: 193px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 71px;
    left: 10%;
    margin-left: -90px;
}

.appointments-tooltip .icon-tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 45%;
    margin-left: -5px;
    border-width: 13px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.5) transparent transparent transparent;
}

.appointments-tooltip:hover .icon-tooltiptext {
    visibility: visible;
}

