#single-portfolio .design-tag {
    max-width: 100%;
}
.reviews-product {
    font-family: 'ProximaNova';
}
.proximanova-family {
    font-family: 'ProximaNova';
}
.follow-products,
.you-products {
    color: #434343;
}
.text-muted-product {
    color: #8F8F8F;
}

.wishlist-tooltip {
    position: relative;
    display: inline-block;
}

.wishlist-tooltip .wishlist-tooltiptext {
    visibility: hidden;
    width: 170px;
    background-color: #00000080;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 135%;
    left: -10%;
    margin-left: -68px;
    transition: all ease-in-out 2s;
}

.wishlist-tooltip .wishlist-tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #00000080 transparent transparent transparent;
}

.wishlist-tooltip:hover .wishlist-tooltiptext {
    visibility: visible;
}

.categories-color {
    color: #39393A;
}
.no-available,.no-wishlist {
    font-style: italic;
}
.review-card {
    border: none;
}
.loading-height {
    height: 240px !important;
}
.footer-top-border {
    border-top: none;
}
.padding-card-review {
    padding: 20px 25px 10px 25px;
}
.react-review-items-close {
    position: absolute;
    top: 14px;
    right: 20px;
    background: transparent;
    border: 0;
    padding: 0;
    line-height: 1;
    z-index: 9;
}
.col-right {
    padding-right: 60px;
    padding-left: 0px;
}
.bg-product {
    background-color: #FAFAFA;
}
.ellipsis-products {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
  }
.cancel-btn {
    font-size: 15px;
    padding: 10px 20px;
    min-width: 120px;
    border-radius: 5px;
    border-width: 2px;
    color: #000000 !important;
    background-color: #ffffff !important;
    border-color: var(--black);
}
.btn-save {
    font-size: 15px;
    padding: 10px 20px;
    min-width: 120px;
    border-radius: 5px;
    border-width: 2px;
    color: var(--white);
    background-color: var(--black);
    border-color: var(--black);
}

.reviews-tooltip {
    position: relative;
    display: inline-block;
}

.reviews-tooltip .reviews-tooltiptext {
    visibility: hidden;
    width: 125px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 28px;
    left: 22%;
    margin-left: -51px;
}

.reviews-tooltip .reviews-tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.5) transparent transparent transparent;
}

.reviews-tooltip:hover .reviews-tooltiptext {
    visibility: visible;
}

.btn-primary-cancel {
    font-size: 15px;
    padding: 10px 20px;
    min-width: 190px;
    border-radius: 5px;
    border-width: 2px;
    color: var(--black);
    background-color: var(--white);
    border-color: var(--black);
}

.single-image-chat {
    width: 9% !important;
    min-height: 36px;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    border-radius: 5px;
}
.product-grid-image {
    width: 300px;
}
.this-is-preview {
    font-size: 14px;
    background: #dfdfdf;
    color: var(--white);
    padding: 5px 30px 5px 30px;
    display: inline-block;
    text-align: center;
    width: 100%;
}
.green-leaf-tooltip {
    position: relative;
    display: inline-block;
}

.green-leaf-tooltip .green-leaf-tooltiptext {
    visibility: hidden;
    width: 175px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 26px;
    left: 320%;
    margin-left: -126px;
}

.green-leaf-tooltip .green-leaf-tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.5) transparent transparent transparent;
}
.green-leaf-tooltip:hover .green-leaf-tooltiptext {
    visibility: visible;
}

.save-link {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.portfolio-link .save-link {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.portfolio-link:hover .save-link {
    opacity: 1;
}

.portfolio-link .save-link .action-button {
    pointer-events: auto;
}
.product-price{
    color: #551855;
}
.add-to-cart-button{
    width: 250px;
    border: solid 1px black;
    background-color: white;
    color: black;
}
.buy-button{
    width: 250px;
    background-color: black;
    color: white;
}
