#single-portfolio .design-tag {
    max-width: 100%;
}
.reviews-product {
    font-family: 'ProximaNova';
}
.proximanova-family {
    font-family: 'ProximaNova';
}
.follow-products,
.you-products {
    color: #434343;
}
.text-muted-product {
    color: #8F8F8F;
}
.categories-color {
    color: #39393A;
}
.no-available,.no-wishlist {
    font-style: italic;
}

.react-review-items-close {
    position: absolute;
    top: 14px;
    right: 20px;
    background: transparent;
    border: 0;
    padding: 0;
    line-height: 1;
    z-index: 9;
}
.col-right {
    padding-right: 60px;
    padding-left: 0px;
}
.bg-product {
    background-color: #FAFAFA;
}
.cancel-btn {
    font-size: 15px;
    padding: 12px 20px;
    min-width: 120px;
    border-radius: 5px;
    border-width: 2px;
    color: #000000 !important;
    background-color: #ffffff !important;
    border-color: var(--black);
}
.btn-save {
    font-size: 15px;
    padding: 12px 20px;
    min-width: 120px;
    border-radius: 5px;
    border-width: 2px;
    color: var(--white);
    background-color: var(--black);
    border-color: var(--black);
}

.reviews-tooltip {
    position: relative;
    display: inline-block;
}

.reviews-tooltip .reviews-tooltiptext {
    visibility: hidden;
    width: 125px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 34px;
    left: 10%;
    margin-left: -51px;
}

.reviews-tooltip .reviews-tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 45%;
    margin-left: -5px;
    border-width: 13px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.5) transparent transparent transparent;
}

.reviews-tooltip:hover .reviews-tooltiptext {
    visibility: visible;
}