.user-placeholder {
    max-width: 60px;
}

.btn-save {
    min-width: 150px !important;
}

.year {
    visibility: hidden;
}

.add_more {
    cursor: pointer;
}

.add_more:hover {
    color:#000000 !important;
    font-weight: 500;
}

.edit-skills select {
    appearance: auto;
    padding: 13px !important;
}

.edit-skills>.card:not(:nth-child(2)) {
    margin-top: 20px;
}

.edit-skills .card .aos-close {
    background-color: #f84545;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    color: #fff;
    font-size: 14px;
}

.profile-image {
    width: 60px;
    height: 60px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    border-radius: 50%;
}

.remove-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 12px;
    cursor: pointer;
    transition: 0.3s;
}

.remove-circle:hover {
    opacity: 50%;
}