/*Home*/
section#home {
    background: transparent linear-gradient(180deg, #000000CC 0%, #00000096 100%) 0% 0% no-repeat padding-box;
    position: relative;
    overflow: hidden;
}

#home-video {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    /* height: 100vh; */
    height: 100%;
    object-fit: cover;
}

.hero-card {
    min-height: 100vh;
}

.hero-card-designers {
    min-height: 786px;
}

.hero-card-fabrics,
.hero-card-design {
    min-height: 381px;
}

.hero-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: transparent linear-gradient(180deg, #000000CC 0%, #00000096 100%) 0% 0% no-repeat padding-box;
    position: absolute;
    z-index: 2;
    width: 100%;
}

.hero-cards-column {
    padding-left: 5px;
    padding-right: 5px;
}

#home-loggedin {
    background: #fff;
    padding-top: 50px;
}

section#home h1 {
    font-size: 55px;
    line-height: 60px;
}

section#home p.subtitle {
    font-size: 18px;
}

@media screen and (max-width:991px){
    section#home h1{
        font-size: 35px;
    }
}