/*Home*/
section#home h1{
    font-size: 60px;
}
section#home p.subtitle {
    font-size: 20px;
}
@media screen and (min-width:1200px){
    form.search input{
        min-width: 350px;
    }
}
@media screen and (max-width:991px){
    section#home h1{
        font-size: 35px;
    }
}