/*Login*/
body:has(section#login) #navigation {
    display: none!important;
}
section#login h1 {
    font-size: 30px;
    font-weight: 600;
}
section#login .with-bg {
    background-image: url('../../images/login-img.png');
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
}
section#login .login-container {
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
}
section#login hr {
    border-color: var(--dgray);
    border-width: 2px;
}
section#login button.login-google {
    background-color: transparent;
    border: 2px solid var(--gray);
    border-radius: 5px;
    padding: 10px 20px;
    width: 100%;
    color: var(--black);
    box-shadow: none!important;
    -webkit-appearance: none!important;
    font-size: 16px;
}
section#login button.login-google img {
    width: 25px;
    margin-right: 20px;
}
section#login .login-with-email {
    background-color: var(--white);
    display: block;
    position: relative;
    width: fit-content;
    color: var(--dgray);
    margin: -10px auto 0 auto;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
}
section#login a.forgot-password {
    text-align: right;
    display: block;
    text-decoration: none;
    font-size: 14px;
}
section#login #login-column {
    padding-top: 120px;
    padding-bottom: 120px;
}
@media screen and (min-width:1200px) {
    form.search input{
        min-width: 350px;
    }
}
@media screen and (max-width:991px) {
    section#login h1{
        font-size: 25px;
    }
    section#login .with-bg{
        background-position: center;
        background-size: cover;
        min-height: 300px;
    }
    section#login .login-container{
        padding: 30px 0.5rem!important;
    }
}