/*Login*/
/* body:has(section#login) #navigation {
    display: none!important;
} */
section#login h1 {
    font-size: 25px;
    color: #551855;
    font-weight: 600;
}
section#login .with-bg {
    background-image: url('../../images/login-img.png');
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
}
section#login .login-container {
    margin: 0 auto;
    max-width: 550px;
    width: 100%;
}

section#login .login-container .kouture-icon, #login-column .kouture-icon {
    max-width: 70px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 20px;
}

section#login hr {
    border-color: var(--dgray);
    border-width: 2px;
}
section#login button.login-google {
    background-color: transparent;
    border: 2px solid var(--gray);
    border-radius: 5px;
    padding: 10px 20px;
    width: 100%;
    color: var(--black);
    box-shadow: none!important;
    -webkit-appearance: none!important;
    font-size: 16px;
}
section#login button.login-google img {
    width: 25px;
    margin-right: 20px;
}
section#login .login-with-email {
    background-color: var(--white);
    display: block;
    position: relative;
    width: fit-content;
    color: var(--dgray);
    margin: -10px auto 0 auto;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
}
section#login a.forgot-password {
    text-align: left;
    display: block;
    text-decoration: underline;
    font-size: 14px;
}
section#login #login-column {
    padding-top: 45px;
    padding-bottom: 120px;
}
@media screen and (min-width:1200px) {
    form.search input{
        min-width: 350px;
    }
}
@media screen and (max-width:991px) {
    section#login h1{
        font-size: 25px;
    }
    section#login .with-bg{
        background-position: center;
        background-size: cover;
        min-height: 300px;
    }
    section#login .login-container{
        padding: 30px 0.5rem!important;
    }
}

.show-password{
    position: relative;
}
.hi-eye-off, .hi-eye {
    position: absolute;
    z-index: 9999;
}
.off-eye {
    top: 14px;
    right: 10px;
}
.custom-divider{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}
.custom-divider::before,
.custom-divider::after{
    content: '';
    flex: 1;
    border-bottom: 1px solid #ccc;
}
.custom-divider::before{
    margin-right: 30px;
}
.custom-divider::after{
    margin-left: 30px;
}