.chat-height {
    height: 500px;
}
.video-height {
    height: 445px;
}
.consulatation-top-bottom {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #fafafa;
}
.action-button-meeting {
    background: var(--white);
    color: var(--black);
    padding: 3px 5px 5px 5px;
    height: 52px;
    display: inline-block;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}
.card-video {
    padding-bottom: 9px;
}
.off-cam-icon {
    margin-left: 6px;
    margin-top: 7px;
}
.bg-red-icon {
    background-color: #dc3f3f !important
}
.chat-height-card {
    height: 350px;
}
.send-icon {
    position: absolute;
    bottom: 44px;
    right: 33px;
}
.video-turn-off-button {
    background-color: #7f8185 !important;
}
.bg-gold-icon {
    background-color: #cea835;
}
.bg-gray-icon {
    background-color: #7f8185;
}
.meeting-tooltip {
    position: relative;
    display: inline-block;
}

.meeting-tooltip .icon-tooltiptext {
    visibility: hidden;
    width: 138px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 6px 0;
    position: absolute;
    z-index: 1;
    bottom: 63px;
    left: 10%;
    margin-left: -49px;
}

.meeting-tooltip .icon-tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 7px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.5) transparent transparent transparent;
}

.meeting-tooltip:hover .icon-tooltiptext {
    visibility: visible;
}
span.icon-tooltiptext.call-icons {
    bottom: 63px !important;
    left: 19% !important;
}
.video-button {
    width: 55px !important;
    height: 55px !important;
    border-radius: 50% !important;
    padding: 12px !important;
    margin: 0 8px !important;
    border: none !important;
}

.video-button-on {
    background-color: #dc3f3f !important;
}

.video-button-share-on {
    background-color: #cea835 !important;
}

.video-button-off {
    background-color: #7F8185 !important;
}

.rowButton-MQdq.isSelected-mVgN {
    background-color: var(--color-background-grey);
    color: #cea835;
    cursor: unset;
}

.question-btn {
    margin-left: 5px;
    cursor: pointer;
}

.measurement-guide-modal {
    max-width: 450px;
    padding-left: 0px !important;
    position: absolute;
    left: 48%;
    right: 50%;
    transform: translate(-50%, -50%);
    top: 484px;

}
.measurement-image {
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}