@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: 'ProximaNova';
    src: local('ProximaNova'),
         url('../fonts/ProximaNova.otf') format('opentype');
}
@font-face {
    font-family: 'Rufina';
    src: local('Rufina'),
         url('../fonts/Rufina.ttf') format('truetype');
}

:root{
    --primary: #202A44;
    --secondary: #B5A3C5;
    --icons: #CEA835;
    --black: #000000;
    --white: #ffffff;
    --grey: #F3F3F3;
    --lgrey: #F8F9FA;
    --dgrey: #959595;
    --mgrey: #8F8F8F;
    --body-font: ProximaNova;
    --heading-font: Rufina;
}
body {
    font-family: var(--body-font);
    background-color: var(--white);
    /* font-size: 18px; */
    line-height: 1.3;
}
h1,h2,h3,h4,h5{
    font-family: var(--heading-font);
    color: var(--black);
    line-height: 1;
}
.text-muted {
    color: var(--dgrey) !important;
}
.mh650{
    min-height: 650px;
}

.narrow-510 {
    max-width: 510px;
    margin: 0 auto;
    row-gap: 20px;
}

.narrow-400 {
    max-width: 450px;
    margin: 0 auto;
    row-gap: 20px;
}
.narrow-600{
    max-width: 600px;
    margin: 0 auto;
}
.narrow-750 {
    max-width: 750px;
    margin: 0 auto;
}
.btn-primary {
    font-size: 15px;
    padding: 12px 20px;
    min-width: 190px;
    border-radius: 5px;
    border-width: 2px;
    color: var(--white);
    background-color: var(--black);
    border-color: var(--black);
}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active {
    color: var(--white)!important;
    background-color: var(--black)!important;
    border-color: var(--black)!important;
}
.btn-outline {
    font-size: 15px;
    padding: 12px 20px;
    min-width: 190px;
    border-width: 2px;
    border-radius: 5px;
    color: var(--black);
    background-color: transparent;
    border-color: var(--black);
}
.btn-outline:hover,.btn-outline:focus,.btn-outline:active {
    color: var(--white);
    background-color: var(--black);
    border-color: var(--black);
}
.text-dgrey{
    color: var(--dgrey)!important;
}
.text-grey{
    color: var(--grey)!important;
}
.fs-14 {
    font-size: 14px;
}
.fs-16 {
    font-size: 16px;
}
.fs-18 {
    font-size: 18px;
}
.fs-20 {
    font-size: 20px;
}
.fs-22 {
    font-size: 22px;
}
.fs-25 {
    font-size: 25px;
}
.fw-600 {
    font-weight: 600;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.hide{
    display: none;
}
a{
    color: var(--primary);
}
.form-check label {
    padding-top: 2px;
}
.react-modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: 0;
    padding: 0;
    line-height: 1;
    z-index: 9;
}
.modal-header {
    border: 0;
    border-radius: 0;
}
.StripeElement {
     display: block;
     margin: 10px 0 20px 0;
     max-width: 500px;
     padding: 10px 14px;
     font-size: 1em;
     font-family: "Source Code Pro", monospace;
     box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px, rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
     border: 0;
     outline: 0;
     border-radius: 4px;
     background: white;
 }

 @keyframes blink {
    0% { opacity: 1; }
    10% { opacity: 0.8; }
    20% { opacity: 0.6; }
    30% { opacity: 0.4; }
    40% { opacity: 0.2; }
    50% { opacity: 0; }
    60% { opacity: 0.2; }
    70% { opacity: 0.4; }
    80% { opacity: 0.6; }
    90% { opacity: 0.8; }
    100% { opacity: 1; }
}

.card-body {
    padding: 16px 20px;
}

 /* Apply styles to the root container to make it full-screen */
.full-screen-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  /* Center the content horizontally and vertically */
.center-content {
    text-align: center;
}
  
/* Style the centered icon */
.centered-icon {
    font-size: 4em; /* Adjust the font size as needed */
    animation: blink 2s infinite;
    /* Optionally, add more styles as needed */
}

 /*Header*/
a.navbar-brand img {
    max-width: 160px;
    width: 100%;
}
nav.bg-body-primary {
    padding: 11px 0;
    box-shadow: 0px 1px 5px rgb(0 0 0 / 10%);
}
nav.bg-body-primary .container{
    column-gap: 40px;
}
nav.bg-body-primary .btn-primary {
    min-width: 130px !important;
    font-size: 15px;
}
.navbar-nav {
    column-gap: 30px;
}
.nav-link,.nav-link:focus, .nav-link:hover{
    color: var(--black)!important;
    font-size: 15px;
    font-weight: 400;
}
form.search{
    background-color: var(--grey);
    padding: 0px 20px;
    border-radius: 5px!important;
}
form.search svg{
    color: var(--dgrey);
}
form.search input {
    background-color: var(--grey);
    border: none;
    border-radius: 0px!important;
    padding: 10px 20px 10px 0px!important;
    color:  var(--black);
}
form.search input:focus,form.search input:active  {
    color: var(--black);
    background-color: var(--grey)!important;
    border-color: transparent!important;
    outline: 0;
    box-shadow: none!important;
}
form input.form-control, form select.form-control {
    border: 2px solid var(--grey)!important;
    border-radius: 5px!important;
    padding: 10px 20px;
    color:  var(--black);
    font-size: 15px;
}
form input.form-control:focus,form input.form-control:active, form select.form-control:focus,form select.form-control:active  {
    color: var(--black);
    border-color: var(--grey)!important;
    outline: 0;
    box-shadow: none!important;
}
form.search input::placeholder {
    color: var(--dgrey);
}
form select::placeholder {
    color: var(--dgrey);
}
@media screen and (max-width:991px){
    .navbar-nav.d-grid-mobile{
        display: grid;
        grid-gap: 5px;
        text-align: center;
        grid-template-areas:
            'search'
            'log'
            'sign';
    }
    .navbar-nav.d-grid-mobile form.search{
        grid-area: sign;
    }
    .mh650{
        min-height: auto;
    }
    body,p {
        font-size: 16px;
    }
}

.border-white-hover:hover {
    border-color: #ffffff !important;
}

.border-white-hover:focus {
    border-color: #ffffff !important;
}

.border-black-hover:hover {
    border-color: #000000 !important;
}

.border-black-hover:focus {
    border-color: #000000 !important;
}

#navigation form.search input {
    min-width: 230px;
}

@media screen and (min-width:1400px){
    #navigation form.search input{
        min-width: 330px;
    }
}

.cursor-pointer {
    cursor: pointer !important;
}