@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'ProximaNova';
    src: local('ProximaNova'),
        url('../fonts/ProximaNova.otf') format('opentype');
}

@font-face {
    font-family: 'Rufina';
    src: local('Rufina'),
        url('../fonts/Rufina.ttf') format('truetype');
}

@font-face {
    font-family: 'TheSeasons';
    src: local('TheSeasons'),
         url('../fonts/TheSeasons/TheSeasons-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'TheSeasons Bold';
    src: local('TheSeasons Bold'),
         url('../fonts/TheSeasons/TheSeasons-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'TheSeasons BoldItalic';
    src: local('TheSeasons BoldItalic'),
         url('../fonts/TheSeasons/TheSeasons-BoldItalic.otf') format('opentype');
}

@font-face {
    font-family: 'TheSeasons Light';
    src: local('TheSeasons Light'),
         url('../fonts/TheSeasons/TheSeasons-Light.otf') format('opentype');
}

@font-face {
    font-family: 'TheSeasons LightItalic';
    src: local('TheSeasons LightItalic'),
         url('../fonts/TheSeasons/TheSeasons-LightItalic.otf') format('opentype');
}

@font-face {
    font-family: 'TheSeasons Italic';
    src: local('TheSeasons Italic'),
         url('../fonts/TheSeasons/TheSeasons-Italic.otf') format('opentype');
}

:root {
    --primary: #202A44;
    --gold: #CEA835;
    --secondary: #B5A3C5;
    --icons: #CEA835;
    --black: #000000;
    --white: #ffffff;
    --gray: #F3F3F3;
    --mdgray: #F4F4F4;
    --lgray: #F8F9FA;
    --dgray: #959595;
    --mgray: #8F8F8F;
    --smgray: #DFDFDF;
    --purple: #B5A3C5;
    --dark: #363636;
    --light: #EEEEEE;
    --gray-600: #39393A;
    --purple-red: #E1306C; 
    --body-font: Poppins;
    --heading-font: 'TheSeasons Bold';
}

body {
    font-family: var(--body-font);
    background-color: var(--white);
    /* font-size: 18px; */
    line-height: 1.3;
    overflow-x: hidden;
    top: 0 !important;
}

/* input[type='checkbox'] {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 20px !important;
    height: 19px !important;
    appearance: none;
    border-radius: 10%;
    border: 2px solid gray;
    box-shadow: none;
    font-size: 4px;
    margin-right: 10px;
} */

.skiptranslate {
    display: none !important;
}

.container {
    max-width: 1860px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--heading-font);
    color: var(--black);
    line-height: 1;
    font-weight: inherit;
}

#root {
    min-height: 100vh;
}

#main {
    min-height: calc(100vh - 250px);
}

p {
    line-height: 1.7;
}

.minw-auto {
    min-width: auto !important;
}

.design-atc .action-button, .design-atc .atc-icon {
    transition: 0.5s;
}

.design-atc:hover .action-button {
    background: var(--gold) !important;
} 

.design-atc:hover .atc-icon {
    color: var(--white) !important;
} 

.rti--container {
    border: 2px solid var(--gray) !important;
}

.text-white-hover:hover {
    color: var(--white) !important;
}

.text-gold {
    color: var(--gold) !important;
}

.text-muted {
    color: var(--dgray) !important;
}

.text-black {
    color: var(--black) !important;
}

.text-black-hover:hover {
    color: var(--black) !important;
}

.text-dark {
    color: var(--dark) !important;
}

.text-purple {
    color: var(--purple) !important;
}

.text-gray600 {
    color: var(--gray-600) !important;
}

.btn.bg-white-hover:hover {
    background-color: var(--white) !important;
}

.bg-light {
    background-color: var(--light) !important;
}

.rti--input {
    width: 75% !important;
}

.lh-1-7 {
    line-height: 1.7;
}

.mh650 {
    min-height: 650px;
}

.narrow-510 {
    max-width: 510px;
    margin: 0 auto;
    row-gap: 20px;
}

.narrow-400 {
    max-width: 450px;
    margin: 0 auto;
    row-gap: 20px;
}

.narrow-600 {
    max-width: 600px;
    margin: 0 auto;
}

.narrow-750 {
    max-width: 750px;
    margin: 0 auto;
}

.narrow-850 {
    max-width: 850px;
    margin: 0 auto;
}

.btn-danger.designer-live, .designer-live {
    min-width: auto;
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 10px;
    padding: 5px 12px;
}

.btn-danger.designer-live.default, .designer-live.default {
    min-width: auto;
    position: static;
}

.btn-primary {
    font-size: 15px;
    padding: 10px 20px;
    min-width: 190px;
    border-radius: 5px;
    border-width: 1px;
    color: var(--white);
    background-color: var(--black);
    border-color: var(--black);
}

.btn-shop {
    font-size: 15px;
    padding: 10px 20px;
    min-width: 190px;
    border-radius: 5px;
    border-width: 1px;
    color: var(--white);
    background-color: var(--purple-red);
    border-color: var(--purple-red);
}

.btn-shop:hover {
    border-color: var(--purple-red);
    color: var(--purple-red);
}

.btn-secondary {
    font-size: 15px;
    padding: 10px 20px;
    min-width: 190px;
    border-radius: 5px;
    border-width: 1px;
}

.btn-danger {
    font-size: 15px;
    padding: 10px 20px;
    min-width: 190px;
    border-radius: 5px;
    border-width: 1px;
}

.btn-primary.text-black-hover:hover {
    color: var(--black) !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    color: var(--white) !important;
    background-color: var(--black) !important;
    border-color: var(--black) !important;
}

.btn-primary:disabled {
    color: var(--white) !important;
    background-color: var(--black) !important;
    border-color: var(--black) !important;
}

.btn-outline {
    font-size: 15px;
    padding: 10px 20px;
    min-width: 190px;
    border-width: 2px;
    border-radius: 5px;
    color: var(--black);
    background-color: transparent;
    border-color: var(--black);
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
    color: var(--white);
    background-color: var(--black);
    border-color: var(--black);
}

.text-dgray {
    color: var(--dgray) !important;
}

.text-gray {
    color: var(--gray) !important;
}
.fs-10 {
    font-size: 10px;
}
.fs-11 {
    font-size: 11px;
}
.fs-12 {
    font-size: 12px;
}

.fs-13 {
    font-size: 13px;
}

.fs-15 {
    font-size: 15px;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px !important;
}

.fs-24 {
    font-size: 24px !important;
}

.fs-22 {
    font-size: 22px;
}

.fs-25 {
    font-size: 25px;
}

.fs-30 {
    font-size: 30px;
}

.fs-35 {
    font-size: 35px;
}

.fs-40 {
    font-size: 40px;
}

.fs-50 {
    font-size: 50px;
}

.fs-70 {
    font-size: 70px;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.hide {
    display: none;
}

.card {
    border-color: var(--light);
}

hr {
    border-color: var(--light);
    opacity: 1;
}

a {
    color: var(--primary);
}

.opacity-0 {
    opacity: 0;
}

.form-check label {
    padding-top: 2px;
    
}

.react-modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: 0;
    padding: 0;
    line-height: 1;
    z-index: 9;
}

.modal-header {
    border: 0;
    border-radius: 0;
}
.header-register-modal h2{
    color: #551855;
}
.remove-pricing-structure.remove-btn {
    position: absolute;
    right: 0;
    top: 5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding-top: 4px;
}

/* .modal-fullscreen .modal-content {
    background-color: #f5f6f8;
} */

.modal-fullscreen .btn-close {
    margin-right: 20px;
    margin-top: 0px;
}

.StripeElement {
    display: block;
    margin: 10px 0 20px 0;
    max-width: 500px;
    padding: 10px 14px;
    font-size: 1em;
    font-family: "Source Code Pro", monospace;
    box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px, rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
    border: 0;
    outline: 0;
    border-radius: 4px;
    background: white;
}

/* Header */
.header-user-photo {
    width: 35px;
    height: 35px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* margin-top: 7px; */
    /* margin-left: 7px; */
    border-radius: 50%;
}

#rfs-btn {
    border: 2px solid var(--gray);
    border-radius: 5px;
    padding: 7px 7px;
    color: var(--gray-600);
    outline: none !important;
}

#rfs-btn::after {
    display: none;
}

.country-currency-language-selector ul {
    border-radius: 15px;
    max-height: 500px;
    padding-top: 0;
    margin-top: 0;
    border-top: 1px solid #767676;
    border-left: 1px solid #767676;
    border-bottom: 1px solid #b9b9b9;
    border-right: 1px solid #b9b9b9;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(187,187,187,1);
    -moz-box-shadow: 0px 0px 1px 1px rgba(187,187,187,1);
    box-shadow: 0px 0px 1px 1px rgba(187,187,187,1);
}

.user-menu.action-box {
    background: #fff;
    position: absolute;
    width: 200px;
    /* width: 350px; */
    padding: 12px;
    border-radius: 5px;
    right: 5px;
    top: 60px;
    box-shadow: 0px 10px 16px 8px rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: 0px 10px 16px 8px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 10px 16px 8px rgba(0, 0, 0, 0.18);
    z-index: 10;
}

.user-menu.action-box-incomplete-profile {
    background: #fff;
    position: absolute;
    width: 230px;
    /* width: 350px; */
    padding: 12px;
    border-radius: 5px;
    right: 5px;
    top: 60px;
    box-shadow: 0px 10px 16px 8px rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: 0px 10px 16px 8px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 10px 16px 8px rgba(0, 0, 0, 0.18);
    z-index: 10;
}

.user-menu.action-box.country-box {
    width: 350px;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    10% {
        opacity: 0.8;
    }

    20% {
        opacity: 0.6;
    }

    30% {
        opacity: 0.4;
    }

    40% {
        opacity: 0.2;
    }

    50% {
        opacity: 0;
    }

    60% {
        opacity: 0.2;
    }

    70% {
        opacity: 0.4;
    }

    80% {
        opacity: 0.6;
    }

    90% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}

.card-body {
    padding: 16px 20px;
}

/* Apply styles to the root container to make it full-screen */
.full-screen-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Center the content horizontally and vertically */
.center-content {
    text-align: center;
}

/* Style the centered icon */
.centered-icon {
    font-size: 4em;
    /* Adjust the font size as needed */
    animation: blink 2s infinite;
    /* Optionally, add more styles as needed */
}

.blink {
    animation: blink 2s infinite;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: var(--gray);
    padding-top: 10px;
    padding-bottom: 10px;
}
.img-placeholder-height{
    height: 627px;
    border-radius: 5px;
}
.image-height-preview {
    height: 800px;
}
.background-dashed {
    background-image: url(data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%233332' stroke-width='3' stroke-dasharray='12' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e);
    border: none;
}

.connect-designer-container {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s;
    opacity: 0;
}

.connect-designer-container:hover {
    opacity: 1;
}

/* Calendar */
.react-calendar {
    width: 100% !important;
}

.react-calendar__tile--now {
    background: #CEA835 !important;
    color: #fff !important;
}

.react-calendar button {
    padding: 0 !important;
}

.calendar-date {
    padding: 10px 6.6667px;
}

.modal-dialog.modal-lg {
    max-width: 800px !important;
}

#measurement-guide.modal-dialog {
    max-width: 1000px !important;
}

#designers-connect.modal-dialog {
    max-width: 1200px !important;
}

.modal-dialog {
    max-width: 600px !important;
}

.modal-dialog.modal-fullscreen {
    max-width: 100% !important;
}

.modal-open {
    padding-right: 0 !important;
}

.modal.show {
    padding-right: 0 !important;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
    background: #f5ce5a !important;
}

.react-calendar__tile--active {
    background: var(--black) !important;
    color: var(--white) !important;
}
/*Banner*/
.banner-home{
    background-color: #000000;
}
.banner-home .banner-item{
    font-size: 12px;
    margin: auto 0;
}
.banner-home .banner-item{
    color: white;
    text-decoration: none;

}
.banner-home .banner-item:hover{
    color: #CEA836;
    text-decoration: underline;
}
/*Header*/
a.navbar-brand img {
    max-width: 200px;
    width: 100%;
    margin-right: 50px;
}

nav.bg-body-primary {
    padding: 11px 0;
    box-shadow: 0px 1px 5px rgb(0 0 0 / 10%);
}

nav.bg-body-primary .container {
    column-gap: 40px;
}

nav.bg-body-primary .btn-primary {
    min-width: 130px !important;
    font-size: 15px;
}

.navbar-nav {
    column-gap: 30px;
}

.nav-link,
.nav-link:focus,
.nav-link:hover {
    color: var(--black) !important;
    font-size: 15px;
    font-weight: 400;
}

form.search {
    background-color: var(--gray);
    padding: 0px 20px;
    border-radius: 5px !important;
}
.search-bar-header{
    height: 30px !important;
}
form.search-header {
    padding-left: 10px;
    border-radius: 5px !important;
    border: solid 1px;
    height: 36px;
    border-right: none;
    max-width: 800px;
}

form.search svg {
    color: var(--dgray);
}

form.search input {
    background-color: var(--gray);
    border: none;
    border-radius: 0px !important;
    padding: 10px 20px 10px 0px !important;
    color: var(--gray-600);
}

form.search input:focus,
form.search input:active {
    color: var(--gray-600);
    background-color: var(--gray) !important;
    border-color: transparent !important;
    outline: 0;
    box-shadow: none !important;
}
.search-dropdown{
    height: 35px;
    border-radius: 5px;
    padding: 0 10px
}
.search-dropdown:hover{
    border-color: #CEA836;
}

.rti--container {
    box-shadow: none !important;
}

form input.form-control,
form select.form-control,
.form-control,
.rti--container {
    border: 2px solid var(--gray) ;
    border-radius: 5px ;
    padding: 7px 15px;
    color: var(--gray-600);
    font-size: 16px;
}

form input.form-control:focus,
form input.form-control:active,
form select.form-control:focus,
form select.form-control:active,
.form-control:focus,
.form-control:active,
.rti--container:focus {
    color: var(--gray-600);
    border-color: var(--gray) ;
    outline: 0;
    box-shadow: none !important;
}

form.search input::placeholder {
    color: var(--dgray);
}

form select::placeholder {
    color: var(--dgray);
}

@media screen and (max-width:991px) {
    .navbar-nav.d-grid-mobile {
        display: grid;
        grid-gap: 5px;
        text-align: center;
        grid-template-areas:
            'search'
            'log'
            'sign';
    }

    .navbar-nav.d-grid-mobile form.search {
        grid-area: sign;
    }

    .mh650 {
        min-height: auto;
    }

    body,
    p {
        font-size: 16px;
    }
}

.btn-transparent {
    background: transparent !important;
}

.btn-transparent-hover:hover {
    background: transparent !important;
}

.border-none {
    border: none !important;
}

.border-white-hover:hover {
    border-color: #ffffff !important;
}

.border-white-hover:focus {
    border-color: #ffffff !important;
}

.border-black-hover:hover {
    border-color: #000000 !important;
}

.border-black-hover:focus {
    border-color: #000000 !important;
}

#navigation form.search input {
    min-width: 230px;
}

@media screen and (min-width:1400px) {
    #navigation form.search input {
        min-width: 245px;
    }
}

.cursor-pointer {
    cursor: pointer !important;
}

.color-light-blue {
    color: #202A44 !important;
    opacity: 1 !important;
}

.text-gray {
    color: var(--mgray) !important;
}

.text-mgray {
    color: var(--mgray) !important;
}

.bg-gray {
    background-color: var(--gray) !important;
}

.bg-smgray {
    background-color: var(--smgray) !important;
}

.column-gap-10 {
    column-gap: 10px;
}

.column-gap-20 {
    column-gap: 20px;
}

.column-gap-30 {
    column-gap: 30px;
}

.column-gap-70 {
    column-gap: 70px;
}


.bg-mgray {
    background-color: var(--mgray) !important;
}

.bg-dgray {
    background-color: var(--dgray) !important;
}

.bg-lgray {
    background-color: var(--lgray) !important;
}


.bg-mdgray {
    background-color: var(--mdgray) !important;
}

.text-lgray {
    color: var(--lgray) !important;
}

.pill-span {
    padding: 9px;
    margin-right: 10px;
    border-radius: 5px;
}

.profile-details.social {
    padding: 20px;
    border-radius: 5px;
}

.profile-details.address {
    padding: 20px;
    border-radius: 5px;
}

.icons-d-flex {
    display: flex;
    align-items: flex-start;
    column-gap: 10px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.icon-loading {
    animation: rotate 1s linear infinite;
}

.icons-d-flex a {
    text-decoration: none;
}

.user-placeholder {
    width: 100%;
    max-width: 120px;
    display: block;
}

#btn-edit-profile {
    font-size: 14px !important;
    padding: 10px 0px !important;
    min-width: 130px !important;
    color: #000000 !important;
    background: #ffffff;
    border-radius: 5px;
    border: 1px solid #000;
}

#btn-seller-profile {
    font-size: 14px !important;
    padding: 10px 0px !important;
    min-width: 130px !important;
}

#btn-edit-profile:hover {
    font-size: 14px !important;
    padding: 10px 0px !important;
    min-width: 130px !important;
    color: #ffffff !important;
    background: #000000;
}

/* Category */

.category-grid-div {
    border-radius: 50%;
    padding: 30px;
    max-width: 170px;
    max-height: 170px;
    margin-left: auto;
    margin-right: auto;
}

/* Portfolio Grid */

.portfolio-link {
    position: relative;
}

.portfolio-link .action-button {
    padding: 3px 5px 5px 6px;
}

.portfolio-grid-div.limited::before {
    content: 'LIMITED DESIGN';
    position: absolute;
    bottom: 60px;
    left: -25px;
    width: 185px;
    background-color: #caa533;
    color: #000;
    text-align: center;
    transform: translateY(-50%) rotate(-45deg);
    transform-origin: top left;
    padding: 5px 5px;
    font-weight: 600;
    font-family: var(--heading-font);
    font-size: 13px;
    z-index: 99;
}

.portfolio-img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.portfolio-grid {
    padding-left: 8px;
    padding-right: 8px;
}

.portfolio-row {
    margin-left: -8px;
    margin-right: -8px;
}

.portfolio-grid-div {
    min-height: 210px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}
.bg-product {
    background-color: #FAFAFA;
}
.portfolio-actions .action-menu {
    position: absolute;
    right: 10px;
}

.portfolio-designer .designer-photo {
    min-width: 45px;
    min-height: 45px;
    max-width: 45px;
    max-height: 45px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.user-image .user-photo {
    min-width: 45px;
    min-height: 45px;
    max-width: 45px;
    max-height: 45px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.portfolio-grid-featured,
.portfolio-grid-selling {
    min-height: 130px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    width: 100% !important;
    margin-top: 10px;
}

.portfolio-grid-featured:hover .portfolio-overlay {
    opacity: 1;
}

.portfolio-grid-selling:hover .portfolio-overlay {
    opacity: 1;
}

.action-box {
    background: #fff;
    position: absolute;
    width: 160px;
    padding: 10px;
    border-radius: 5px;
    right: 10px;
    top: 30px;
    z-index: 99;
}

.divider-small {
    background: var(--black);
    width: 100px;
    height: 5px;
    margin-left: auto;
    margin-right: auto;
}

.portfolio-grid-div:hover .portfolio-overlay {
    opacity: 1;
}
.line-height-24 {
    line-height: 24px;
}
.portfolio-overlay {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    background: transparent linear-gradient(180deg, #FFFFFF00 0%, #0000007A 100%) 0% 0% no-repeat padding-box;
}

.portfolio-details .portfolio-name {
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.no-header-close {
    position: absolute;
    right: 15px;
    top: 15px;
}

.portfolio-overlay .portfolio-details {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 10px;
    z-index: 9;
}

.action-button {
    background: var(--white);
    color: var(--black);
    padding: 4px 5px 5px 5px;
    height: 28px;
    display: inline-block;
    width: 28px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
}

.portfolio-name-img {
    font-family: 'Rufina';
    font-size: 18px;
}

.portfolio-details .other-actions {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.add-more-box {
    background-color: var(--lgray) 0% 0% no-repeat padding-box;
    /* border: 1px dashed #DFDFDF; */
    border-radius: 5px;
}

.user-profile-picture {
    max-height: 120px;
}

@media only screen and (min-width: 981px) {
    .portfolio-grid {
        width: 20%;
    }

    
}

/* Portfolio Grid */

.product-grid-div.limited::before {
    content: 'LIMITED DESIGN';
    position: absolute;
    bottom: 60px;
    left: -25px;
    width: 185px;
    background-color: #caa533;
    color: #000;
    text-align: center;
    transform: translateY(-50%) rotate(-45deg);
    transform-origin: top left;
    padding: 5px 5px;
    font-weight: 600;
    font-family: var(--heading-font);
    font-size: 13px;
    z-index: 99;
}

.product-img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.product-grid {
    padding-left: 8px;
    padding-right: 8px;
}

.product-row {
    margin-left: -8px;
    margin-right: -8px;
}

.product-grid-div {
    min-height: 210px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.product-actions .action-menu {
    position: absolute;
    right: 10px;
}

.product-grid-div:hover .product-overlay {
    opacity: 1;
}

.product-overlay {
    height: 100%;
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    background: transparent linear-gradient(180deg, #FFFFFF00 0%, #0000007A 100%) 0% 0% no-repeat padding-box;
}

.product-details .product-name {
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.product-overlay .product-details {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 10px;
}

.product-details .other-actions {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

@media only screen and (min-width: 981px) {
    .product-grid {
        width: 20%;
    }
}

/* Designers */
.designers-row {
    margin-left: -20px;
    margin-right: -20px;
}

.designers-grid {
    padding-left: 20px;
    padding-right: 20px;
}

.designers-grid-div {
    min-height: 400px;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.designer-details {
    position: absolute;
    width: 100%;
    bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.bg-black-faded {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.1) 22%, rgba(0, 0, 0, 0) 100%);
}

.bg-black-faded.designer-overlay {
    border-radius: 15px;
    position: absolute;
    width: 100%;
    height: 100%;
}

/* Design */
/* .designs-row {
    margin-left: -20px;
    margin-right: -20px;
} */

/* .designs-grid {
    padding-left: 20px;
    padding-right: 20px;
} */

.designs-grid-div {
    min-height: 300px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.wishlist-details {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.favorite-details {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.wishlist-details button, .favorite-details button {
    position: absolute;
    bottom: 0px;
}

.favorite-description, .wishlist-description {
    display: -webkit-box;        /* Use flexbox layout */
    -webkit-line-clamp: 4;       /* Limit the block container to 3 lines */
    -webkit-box-orient: vertical;/* Set the box orientation to vertical */
    overflow: hidden;            /* Hide overflowing content */
    text-overflow: ellipsis;     /* Add ellipsis at the end of the truncated content */
}

.design-details {
    column-gap: 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.design-details .designer-photo {
    min-width: 35px;
    min-height: 35px;
    max-width: 35px;
    max-height: 35px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.design-details .designer-photo-small {
    min-width: 20px;
    min-height: 20px;
    max-width: 20px;
    max-height: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.design-tag {
    padding: 5px 15px;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 5px;
    display: inline-block;
    min-width: 70px;
    max-width: 100px;
    text-align: center;
}

.pb-100 {
    padding-bottom: 100px;
}

.pb-150 {
    padding-bottom: 100px;
}

/* Footer */

.footer-logo {
    /* max-width: 150px; */
    max-width: 203px;
    margin-bottom: 20px;
}

.footer-social {
    display: inline-block;
    /* margin-left: 10px;
    margin-right: 5px; */
    /* width: 30px;
    height: 30px; */
    padding: 5px;
    border-radius: 50%;
}

.footer-link {
    /* margin-left: 10px;
    margin-right: 10px; */
    margin-left: 30px;
    margin-right: 30px;
}

/* Icons */
.remove-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #fff;
    border-radius: 50%;
}

/* Set text to no wrap and ellipsis */
.text-no-wrap {
    text-wrap: nowrap;
}

.text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.save-link.designer-link {
    bottom: 45px;
}

.save-link {
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 2;
}

.designer-links {
    opacity: 0;
    transition: opacity 0.3s ease;
    position: absolute;
    bottom: 48px;
    right: 15px;
    z-index: 2;
}

/* .designer-links .action-button {
    padding: 6px 5px 5px 5px;
    height: 40px;
    width: 40px;
} */

.designs-grid .save-link {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.designs-grid .portfolio-link:hover .save-link {
    opacity: 1;
}

.designer-box-details:hover .designer-links {
    opacity: 1;
}

.portfolio-link .save-link {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.portfolio-link:hover .save-link {
    opacity: 1;
}

.portfolio-link .save-link .action-button {
    pointer-events: auto;
}

.sort-input {
    width: 300px;
}

.border-solid-2 {
    border-width: 2px !important;
    border-style: solid !important;
}

.preview-button.fixed {
    position: fixed;
    width: 100%;
    right: 0;
    bottom: 0;
    background: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 2px solid var(--light);
}

.user-box {
    /* min-height: 200px; */
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

.user-box img {
    width: 100%;
    max-width: 45px;
    margin-bottom: 20px;
    /* margin-top: 20px; */
}

.user-box h3 {
    margin-bottom: 5px;
}

.text-gold {
    color: var(--gold) !important;
}

.bg-gold {
    background-color: var(--gold) !important;
}

.bg-transparent-hover:hover {
    background-color: transparent !important;
}

.border-gold {
    border-color: var(--gold) !important;
}

.text-gold-hover:hover {
    color: var(--gold) !important;
}

.bg-gold-hover:hover {
    background-color: var(--gold) !important;
}

.border-gold-hover:hover {
    border-color: var(--gold) !important;
}

/* Tooltip */

.kouture-tooltip {
    position: relative;
    display: inline-block;
}

.kouture-tooltip .kouture-tooltiptext {
    visibility: hidden;
    width: 155px;
    background-color: #00000080;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 135%;
    left: -10%;
    margin-left: -60px;
    transition: all ease-in-out 2s;
}

.kouture-tooltip .kouture-tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #00000080 transparent transparent transparent;
}

.kouture-tooltip:hover .kouture-tooltiptext {
    visibility: visible;
}

.min-width-auto {
    min-width: auto !important;
}

.counter-input.form-control {
    max-width: 75px;
    /* padding: 8px 10px !important;
    border-color: #000 !important;
    border-radius: 0 !important;
    color: #000 !important; */
}

/* .star-svg path {
    color: #cea835 !important;
} */

.react-simple-star-rating-tooltip {
    background-color: transparent !important;
    color: var(--black) !important;
    margin-left: 0 !important;
    display: inline-block !important;
    vertical-align: bottom !important;
    padding-top: 5px !important;
    padding-bottom: 0 !important;
    padding-left: 5px !important;
    font-size: 13px;
}

.vertical-align-middle {
    vertical-align: middle !important;
}

.max-width-column {
    max-width: 1440px;
}

.profile-image.small {
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
    margin-right: 10px;
    border-radius: 50%;
}

.wishlist-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    /* Adjust the number of lines as needed */
    -webkit-line-clamp: 2;
    min-height: 37px;
}

.loading-featured-design,
.top-selling-loading {
    height: 150px;
}

.no-records-found {
    padding-top: 15px;
    font-family: 'ProximaNova';
}

.view-more-featured {
    border: none;
    background: none;
    font-weight: 600;
    font-family: 'ProximaNova';
}

span.featured-designs {
    font-size: 16px !important;
    font-weight: bold;
    color: #000;
}

.btn-style{
    min-width: 100px;
    padding: 9px 20px;
    font-size: 15px !important;
}

.title-designer,
.long-bio-title,
.areas-specialization,
.social-profile {
    color: #000000;
    font-weight: bold;
}

.short-bio-designer,
.long-bio-designer {
    color: #000;
}

.item-designer {
    color: #39393A;
}

.btn-close {
    font-size: 12px;
}

.place-family {
    color: #000000;
}

.margin-img {
    margin-top: 10px;
}

.poppins-ft {
    font-family: 'Poppins';
}

.heart-btn {
    background: #CEA835;
    color: var(--white);
    padding: 3px 5px 5px 5px;
    height: 28px;
    display: inline-block;
    width: 28px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

button.ask-question {
    border: none;
    background: none;
}

.height-portfolio {
    height: auto;
}

button.schedule-consultation {
    background: #000000;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    width: 100%;
}

video#home-video {
    border-radius: 10px;
}

.hero-cards {
    border-radius: 10px;
}

.react-appointment-close {
    position: absolute;
    top: 22px;
    right: 20px;
    background: transparent;
    border: 0;
    padding: 0;
    line-height: 1;
    z-index: 9;
}

section#profile {
    background: #FFFFFF;
}

.rbc-event {
    background-color: #000000 !important;
}

.icon-color {
    color: #CEA835;
}

.explore-premium-fabrics,
.discover-design {
    margin-bottom: 40px;
}

.rufina-family {
    font-family: 'Rufina';
}

section#designer-profile {
    background: #ffffff;
}

.no-available,.no-wishlist {
    font-style: italic;
}

.product-portfolio-image {
    border: 1px solid #FFEAAC;
    background: #FFFBF0;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

.sign-up,.login {
    color: #CEA835;
}

.rating-color {
    color: #393939;
}

img.user-placeholder-header {
    width: 70%;
}

.user-menu-orders.action-box-orders {
    background: #fff;
    position: absolute;
    width: 560px;
    padding: 30px;
    border-radius: 5px;
    right: 100px;
    top: 55px;
    box-shadow: 0px 10px 16px 8px rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: 0px 10px 16px 8px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 10px 16px 8px rgba(0, 0, 0, 0.18);
    z-index: 10;
}

.ellipsis {
    white-space: nowrap; 
    width: 70%; 
    overflow: hidden;
    text-overflow: ellipsis; 
  }

.hours-bell {
    color: #919191;
}

.body-text-bell {
    color: #39393A;
}

.text-decoration-none {
    text-decoration: none !important;
}

.single-image-chat {
    width: 11%;
    min-height: 36px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.bg-survey {
    background-color: #fafafa;
}

.width-chat-card {
    width: 410px;
    border-color: #DFDFDF;
    position: fixed;
    bottom: 0;
    margin-bottom: 19px;
    right: 100px;
}

span.name-of-portfolio {
    font-size: 16px;
    font-family: 'Rufina';
    font-weight: bold;
}

.welcome-chat {
    font-size: 14px;
    color: #39393A;
}

a.schedule-consultation {
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 12px;
    background: #000000;
    color: #ffffff;
    text-decoration: none;
}

.name-chat {
    font-size: 14px;
    font-weight: bold;
}

.send-btn {
    font-weight: bold;
}

.active-now {
   
    color: #AAAAAA;
}
.time-chat-box {
    color: #AAAAAA;
}

.you-chat-box {
    color: #39393A;
}

.time-chat {
    color: #AAAAAA;
}

.header-chat {
    padding: 15px 21px 15px 21px;
}

.eco-col {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn-explore-now {
    font-size: 15px;
    padding: 10px 20px;
    min-width: 190px;
    border-radius: 5px;
    border-width: 2px;
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.075);
    border-color: #fff;
}

.btn-explore-now:hover {
    background-color: rgba(0, 0, 0, 0.075) !important;
    border-color: var(--gold) !important;
}

.explore-now {
    margin-top: 35px;
}

.accordion-button {
    display: contents;
}

.padding-right-admin {
    padding-right: 40px;
}

.padding-right-measurement {
    padding-right: 100px;
}

/* Disable Button on Calendar */
.rbc-date-cell.past-date {
    background-color: #e6e6e6 !important;
    pointer-events: none;
}

.rbc-date-cell.past-date button {
    pointer-events: none;
    color: #999999;
}

.rbc-date-cell {
    cursor: pointer;
}

.bio-short-designer {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 1;
}



.msger-chat::-webkit-scrollbar {
    width: 6px;
}

.msger-chat::-webkit-scrollbar-track {
    background: #ddd;
}

.msger-chat::-webkit-scrollbar-thumb {
    background: #bdbdbd;
}

.msg {
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;
}

.msg:last-of-type {
    margin: 0;
}

.right-msg {
    flex-direction: row-reverse;
}

.thank-you {
    margin-right: 70px;
    margin-left: 70px;
}

.thank-you-height {
    min-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-msg .msg-bubble {
    background: #fbe6a7 !important;
    color: #393C41;
    border-bottom-right-radius: 0;
}

.right-msg .msg-img {
    margin: 0 0 0 10px;
}

.msg-bubble {
    max-width: 450px;
    padding: 15px;
    border-radius: 15px;
    background: var(--left-msg-bg);
}

.msg-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.msg-info-name {
    margin-right: 10px;
    font-weight: bold;
    font-size: 14px;
}

.collab-msg-text {
    font-size: 14px;
}

.msg-info-time {
    font-size: 12px;
}

.msger-inputarea {
    display: flex;
}

.msger-input {
    flex: 1;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.msger-send-btn {
    border: 0;
    color: #393c41;
    background: #F8F9FA;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.23s;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.msgr-placeholder {
    width: 100%;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.msger-chat {
    flex: 1 1;
    min-height: 305px;
}

.form-control-bg {
    background: #f9f9f9 !important;
    border: none !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.bordered-top-primary {
    border-top: 7px solid #cea835;
}

.msg-img {
    background: #ddd;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    height: 40px;
    margin-right: 10px;
    min-height: 40px;
    min-width: 40px;
    width: 40px;
}

.scroll-chat {
    overflow: auto;
    max-height: 100px;
    overflow-x: hidden;
}

.survey-user-image .user-photo-survey {
    min-width: 45px;
    min-height: 45px;
    max-width: 45px;
    max-height: 45px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.survey-tooltip {
    position: relative;
    display: inline-block;
}

.survey-tooltip .icon-tooltiptext {
    visibility: hidden;
    width: 155px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 6px 0;
    position: absolute;
    z-index: 1;
    bottom: 29px;
    left: 10%;
    margin-left: -74px;
}

.survey-tooltip .icon-tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 7px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.5) transparent transparent transparent;
}

.survey-tooltip:hover .icon-tooltiptext {
    visibility: visible;
}

.btn-save {
    font-size: 15px;
    padding: 10px 20px;
    min-width: 150px !important;
    border-radius: 5px;
    border-width: 2px;
    color: var(--white);
    background-color: var(--black);
    border-color: var(--black);
}

.placeholder-img-survey {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.image {
    width: 100%;
    border-radius: 5px;
    background-position: center center;
    display: inline-block;
}
  .image:hover {
    opacity: 1;
  }
  
  .radio-img > input {
    display: none;
  }
  .radio-img > .image {
    cursor: pointer;
    border: 2px solid black;
  }
  .radio-img > input:checked + .image {
    border: 2px solid #cea835;
    color: #cea835;
  }

  .portfolio-grid-survey {
    min-height: 140px !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    width: 100% !important;
}

.home-page-images {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    max-width: 552px ;
}

.designs-grid-div-survey {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.image-drop-container {
    background-image: url(data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%233332' stroke-width='3' stroke-dasharray='12' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e);
    border: none;
    padding: 25px;
}

svg.gr-status-icon {
    margin-left: 3px;
    margin-right: 11px;
}

.image-survey {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.border-survey {
    border: 2px solid #cea835;
    border-radius: 5px;
}

.cart-added {
    bottom: -3px;
    right: -1px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
    top: 0px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.badge-primary {
    background-color: #cea835;
}

.badge-danger {
    background-color: #DC3545;
}

.cta-card-color {
    border: 2px solid #002e4c !important;
    color: #000000 !important;
}

.cta-card-color-gold {
    border: 2px solid #cea835 !important;
    /* background-color: #cea835a1 !important; */
    color: #000000 !important;
}

.cta-button, .cta-button:hover, .cta-button:focus {
    background-color: transparent !important;
    color: #000000 !important;
    border: 1px solid #000000 !important;
}

.thank-you-profile {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-completion {
    background: #551755;
    /* background: #FF0F0F; */
    /* background: #DC3545; */
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-set-up {
    background: #cea835;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.click-to-continue {
    color: #551755;
}

.btn-view-profile {
    font-size: 15px;
    padding: 10px 20px;
    min-width: 190px;
    border-radius: 5px;
    border-width: 1px;
    color: var(--black) !important;
    background-color: var(--white) !important;
    border-color: var(--black) !important;
}

.btn-view-profile:hover {
    color: var(--white) !important;
    background-color: var(--black) !important;
    border-color: var(--black) !important;
}

.bg-color-page {
    background-color: #FAFAFA !important;
}

.btn-set-up {
    font-size: 15px;
    padding: 10px 20px;
    min-width: 190px;
    border-radius: 5px;
    border-width: 1px;
    color: var(--white) !important;
    background-color: var(--black) !important;
    border-color: var(--black) !important;
}

.btn-set-up:hover {
    color: var(--black) !important;
    background-color: var(--white) !important;
    border-color: var(--black) !important;
}

.btn-back, .btn-back:focus {
    font-size: 15px !important;
    padding: 10px 20px !important;
    min-width: 150px !important;
    border-radius: 5px !important;
    border-width: 2px !important;
    color: var(--black) !important;
    background-color: transparent !important;
    border-color: var(--black) !important;
}
.btn-back:hover {
    color: #000000 !important;
    border-color: #000000 !important;
    background-color: transparent !important;
}

/* Email Suggestion */
.email-suggestion {
    position: relative;
    z-index: 3;
}

.email-suggestion input {
    width: 100%;
    border: 0;
    outline: none;
}
.email-suggestion ul {
    list-style-type: none;
    position: absolute;
    background: #fff;
    border: 1px solid #f3f3f3;
    border-radius: 5px;
    padding: 10px 15px;
    left: 0;
    right: 0;
    width: 100%;
    top: 50px;
}

.email-suggestion ul li {
    margin-bottom:10px;
    cursor: pointer;
}

.email-suggestion ul li:last-child() {
    margin-bottom: 0;
}
  
/* Custom CSS for hoverable dropdown */
.nav-link-dropdown {
    position: relative;
}

.nav-link-menu {
    display: none;
    background: #ffffff;
    position: absolute;
    width: 200px;
    padding: 12px;
    border-radius: 5px;
    left: 0;
    /* top: 60px; */
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.nav-link-dropdown:hover .nav-link-menu {
    display: block;
}

.categories-box {
    margin-top: 5px;
    position: absolute;
    width: 100%;
    background: #fff;
    box-shadow: 0px 10px 16px 8px rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: 0px 5px 12px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 10px 16px 8px rgba(0, 0, 0, 0.18);
    border-radius: 3px;
}
.category-pill {
    display: inline-block;
    margin: 0 5px 5px 0px;
    padding: 7px 10px 8px 10px;
    border: 0;
    border-radius: 5px;
    line-height: 1;
    /* color: #fff; */
}
.category-remove {
    margin-left: 10px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    margin-top: -5px;
}

span.rti--tag button {
    border: 1px solid;
    font-size: 10px;
    font-weight: 700 !important;
    margin-left: 10px;
    line-height: 1;
    color: #dc3545;
    padding: 2px 3px 2px 3px;
}

span.rti--tag {
    background-color: var(--light);
    /* color: #fff; */
    padding: 7px 10px 8px 10px;
    line-height: 1;
}

.modal-header .btn-close {
    margin-top: -15px;
}
.modal-login-btn{
    text-decoration: none;
}
.modal-login-btn:hover{
    text-decoration: underline;
}
.search-dropdown-title{
    line-height: 1;
}
.custom-hover-btn{
    border: solid 1px var(--secondary);
    background-color: white;
    color: black;
}
.custom-hover-btn:hover{
    border-color: #CEA835 !important;
    background-color: white !important;
    color: black !important;
}
.custom-hover-btn:focus{
    border-color: #CEA835 !important;
    background-color: white !important;
    color: black !important;
}

  
.cart-dropdown {
    display: none;
    position: absolute;
    background: white;
    left: -210px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 325px; 
    height: 290px;
    z-index: 10;
    margin-top: 10px; 
    box-shadow: 0px 3px 6px #00000029;
    padding: 20px;
}

.nav-link:hover .cart-dropdown {
    display: block;     
}

.cart-dropdown .cart-dropdown-btn{
    background-color: black;
    color: white;
    width: 217px;
    border-radius: 5px;
}
.custom-hover-btn-google{
    border: solid #e1dcdc 1px !important;
    background-color: white;
    color: black;
}
.custom-hover-btn-google:hover{
    border-color: #CEA835 !important;
    background-color: white !important;
    color: black !important;
}
.custom-hover-btn-google:focus{
    border: solid 1px !important;
    border-color: #CEA835 !important;
    background-color: white !important;
    color: black !important;
}
.custom-form{
    border: solid 1px #EEEEEE !important;
}
.custom-form:focus{
    border: solid 1px #CEA835 !important;
}
.custom-form:hover{
    border: solid 1px #CEA835 !important;
}
.customer-satisfaction-title{
    color: #551855;
    font-size: 40px;
}
.customer-satisfaction-p{
    padding: 0px 18%;
    margin: 0 auto;
    font-size: 20px ;
}
.btn-start-survey{
    font-size: 15px;
    padding: 10px 20px;
    min-width: 190px;
    border-radius: 5px;
    color: var(--white);
    background-color: black;
}
.footer-payment-img{
    width: 68px;
    height: 31px;
    margin: 10px 3px;
    object-fit: contain; 
}


/* Designer Marquee */

.designer-marquee {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    border-radius: 10px;
}