/*Sign Up*/
body:has(section#signup) #navigation {
    display: none!important;
}
section#signup h1{
    font-size: 35px;
    font-weight: 600;
}
section#signup .with-bg{
    background-image: url('../../images/signup-img.png');
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
}
section#signup .sign-up-container {
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
}
section#signup hr{
    border-color: var(--dgrey);
    border-width: 2px;
}
section#signup button.sign-in-google {
    background-color: transparent;
    border: 2px solid var(--grey);
    border-radius: 5px;
    padding: 10px 20px;
    width: 100%;
    color: var(--black);
    box-shadow: none!important;
    -webkit-appearance: none!important;
}
section#signup button.sign-in-google img {
    width: 25px;
    margin-right: 20px;
}
section#signup .sign-up-with-email {
    background-color: var(--white);
    display: block;
    position: relative;
    width: fit-content;
    color: var(--dgrey);
    margin: -15px auto 0 auto;
}
@media screen and (min-width:1200px){
    form.search input{
        min-width: 350px;
    }
}
@media screen and (max-width:991px){
    section#signup h1{
        font-size: 25px;
    }
    section#signup .with-bg{
        background-position: center;
        background-size: cover;
        min-height: 300px;
    }
    section#signup .sign-up-container{
        padding: 30px 0.5rem!important;
    }
}